[submodule "files/oh-my-zsh"] path = files/oh-my-zsh
	url = git@github.com:dthielking/oh-my-zsh
[submodule "files/vim/bundle/vim-airline"]
	path = files/vim/bundle/vim-airline
	url = git@github.com:dthielking/vim-airline
