[submodule "files/oh-my-zsh"] path = files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "files/vim/bundle/vim-airline"]
	path = files/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
